<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nakshi.rohitour.repository.admin.AdminCategoryMapper">


    <resultMap id="CategoryMap" type="com.nakshi.rohitour.dto.CategoryDto">
        <id property="categoryId" column="category_id"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
    </resultMap>

    <select id="findAll" resultMap="CategoryMap">
        SELECT * FROM categories
    </select>

    <select id="findById" resultMap="CategoryMap" parameterType="long">
        SELECT * FROM categories WHERE category_id = #{id}
    </select>

    <insert id="insert" parameterType="com.nakshi.rohitour.dto.CategoryDto">
        INSERT INTO categories (name, description)
        VALUES (#{name}, #{description})
    </insert>

    <update id="update" parameterType="com.nakshi.rohitour.dto.CategoryDto">
        UPDATE categories SET
                              name = #{name},
                              description = #{description}
        WHERE category_id = #{categoryId}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM categories WHERE category_id = #{id}
    </delete>

    <select id="existsByName" resultType="int" parameterType="string">
        SELECT COUNT(*) FROM categories WHERE name = #{name}
    </select>

</mapper>
